/* formulario principal-vista */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#cuerpo{
    background-color: antiquewhite;
}

#prnenc{
    height: 50px;
    background: #CE852A;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 9999;
}

#prnenc label{
    cursor: pointer;
    display: none;
    width: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    margin-left: 10px;
}

#prnenc label:hover{
    cursor: pointer;
    background: rgba(255,0,0,0.6);
}

#btn-menu{
    display: none;
    z-index: 9999;
}

.menu{
    z-index: 9999;
}

.menu ul{
    background: #CE852A;
    display: flex;
    list-style: none;
}

.menu ul ul{
    display: none;
}

.menu li{
    border-right: 1px solid rgb(25,80,115);
}

.menu a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu a span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.menu ul li:hover ul{
    display: block;
    position: absolute;
}

.menu a:hover{
    background: rgba(0,0,0,0.3);
}

.submenu span{
    margin-right: 10px;
}

#seccion{
    position: absolute;
    top: 50px;
    width: 70%;
    display: block;
    text-align: center;
    height: 67%;
    z-index: 0;
}

#seccion div{
    margin-top: 20%;
}

#seccion div h2{
    display: block;
    width: 100%;
    color: orange;
    font-size: 34px;
    text-shadow: 3px 3px 2px rgba(0,117,217,0.7);
}

.pie{
    position: absolute;
    bottom: 0px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

@media screen and (max-width: 992px){
}

@media screen and (max-width: 768px){
    #seccion{
        position: relative;
        margin-top: 2%;
        padding: 0%;
        width: 100%;
    }
}


@media screen and (max-width: 600px){
    #prnenc{
        justify-content: flex-start;
    }
    
    #prnenc h2{
        position: absolute;
        left: 10%;
    }
    
    #prnenc label{
        display: block;
    }
    
    .menu{
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }
    
    .menu ul{
        flex-direction: column;
        background: #555;
    }
    
    .menu ul li{
        border-top: 10px solid rgb(25,80,115);
    }
    
    .menu ul li:hover ul{
        display: none;
        position: static;
    }
    
    .menu a span{
        position: absolute;
        right: 10px;
    }
    
    #btn-menu{
        display: block;
    }
    
    #btn-menu:checked ~ .menu{
        transform: translateX(0%);
        margin: 0px;
    }
    
    .menu ul ul{
        background: rgba(0,0,0,0.4);
    }
    
    .menu ul ul a{
        padding: 15px 40px;
    }
    
    .pie{
        margin-top: 25%;
    }
    
}


@media screen and (max-width: 320px){
    #prnenc h2{
        left: 14%;
    }
    
    #seccion div h2{
        font-size: 20px;
    }

    .pie{
        margin-top: 30%;
        column-count: 1;
    }

}